# This is the default config file for wm

[General]
ignored_bundles = [
	'com.apple.dock', 
	'com.apple.dashboard',
	'com.apple.dock.extra',
	'com.apple.notificationcenterui',
	'com.apple.QuickLookDaemon',
	'com.apple.AppleSpell',
	'com.google.Chrome.helper']

[Minimum Sizes]
com.apple.ActivityMonitor = (640.0, 462.0)
com.kapeli.dash = (580.0, 422.0)
com.apple.finder = (437.0, 278.0)
com.google.Chrome = (320, 240)